<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href={{ url_for('static', filename='img/FileTransfer.png') }}>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
            <title>File Transfer - {{ title }}</title>
        {% else %}
            <title>File Transfer</title>
        {% endif %}
    </head>

    <body>
        <main role="main" class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
          </div>
          
          <div class="content-section vertical-align">
            {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" action="">
		{{ form.hidden_tag() }}  <!-- Protect against(prevent) Cross-Site Request Forgery(CSRF, XSRF) attack -->
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    <div class="form-group">
                        {{ render_field(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.password) }}
                    </div>
		    <div class="form-group">
			{{ render_field(form.token) }}
		    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <small class="text-muted ml-2">
                    <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
                </small>
            </form>
           </div>
        </main>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>        
        
